.navbar{
    grid-area: navbar_area;
}

.item{
    border-radius: 5px;
    color: #20b2aa;
    background-color: #f0f5f5;
}

.item + .item{
    margin-top: 5px;
}

.item a{
    display: block;
    text-decoration: none;
    color: #20b2aa;
    border-radius: 5px;
    padding: 5px 10px;
}

.item a.active{
    color: white;
    background-color: lightseagreen;
}
