.page_wrapper{
    display: grid;
    grid-template-areas:
        "header_area header_area"
        "navbar_area content_area"
    ;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    max-width: 1400px;
    margin: 0 auto;
}

.header{
    grid-area: header_area;
    background-color: #20b2aa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 0 0 12px 12px;
}

.logo{
    height: 50px;
    width: auto;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.logo_text{
    margin: 0;
    color: white;
}

.login_nav{
    display: flex;

    align-items: center;
}

.between{
    margin: 0;
    padding: 0 5px;
    color: white;
}

.log_button{
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.log_button:hover{
    color: #dbdbdb;
}

.navbar{
    grid-area: navbar_area;
}

.nav_item{
    background-color: #20b2aa;
}

.nav_item + .nav_item{
    margin-top: 5px;
}

.nav_item a{
    text-decoration: none;
    color: white;
}

.content{
    grid-area: content_area;
    background-color: skyblue;
    border-radius: 5px;
}
