.page_wrapper{
    display: grid;
    grid-template-areas:
        "header_area header_area"
        "navbar_area content_area"
    ;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    max-width: 1400px;
    margin: 0 auto;
}

.content{
    grid-area: content_area;
    background-color: #f0f5f5;
    border-radius: 5px;
    padding: 10px;
}
